<!-- INCLUDE overall_header.html -->

<form method="post" id="appform" {S_FORM_ENCTYPE}> 
	<div class="panel">
		<div class="inner">
			<h2>{L_APPLICATION_PAGETITLE}</h2>
			<p>{L_APPLICATION_WELCOME_MESSAGE}</p>
			<fieldset class="fields2">
				<!-- IF S_ERROR --><dl><dd class="error">{S_ERROR}</dd></dl><!-- ENDIF -->
				<dl>
					<dt><label for="name">{L_APPLICATION_REALNAME}{L_COLON}*</label></dt>
					<dd><input type="text" name="name" size="25" class="inputbox autowidth" value="{REALNAME}" /></dd>
				</dl>
				<dl>
					<dt><label for="email">{L_EMAIL}{L_COLON}*</label></dt>
					<dd><input type="text" name="email" size="25" maxlength="100" class="inputbox autowidth" value="{APPLICATION_EMAIL}" <!-- IF not S_EMAIL_NEEDED -->disabled<!-- ENDIF --> /></dd>
				</dl>
				<!-- IF APPLICATION_POSITIONS -->
				<dl>
					<dt><label for="postion">{L_APPLICATION_POSITION}{L_COLON}</label></dt>
					<dd><select name="position" id="position">{APPLICATION_POSITIONS}</select></dd>
				</dl>
				<!-- ENDIF -->
				<dl>
					<dt><label for="why">{L_APPLICATION_WHY}{L_COLON}*</label></dt>
					<dd><textarea rows="5" cols="50" name="why" class="inputbox">{WHY}</textarea></dd>
				</dl>
				<!-- BEGIN questions -->
				<dl>
					<dt><label for="(questions.QUESTION}">{questions.QUESTION}{L_COLON}*</label></dt>
					<dd><input type="text" name="{questions.FORM_NAME}" class="inputbox" value="{questions.ANSWER}" /></dd>
				</dl>
				<!-- END questions -->
				<!-- IF CAPTCHA_TEMPLATE -->
					<!-- DEFINE $CAPTCHA_TAB_INDEX = 5 -->
					<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
				<!-- ENDIF -->				
			</fieldset>
		</div>
	</div>
<!-- IF S_ATTACH_BOX -->
	<div class="panel bg3 panel-container" id="attach-panel">
		<div class="inner">

		<p>{L_ADD_ATTACHMENT_EXPLAIN} <!-- IF S_ATTACH_REQ -->{L_ADD_ATTACHMENT_REQ}<!-- ENDIF --></p>
		
		<fieldset class="fields2" id="attach-panel-basic">
		<dl>
			<dt><label for="fileupload">{L_FILENAME}{L_COLON}<!-- IF S_ATTACH_REQ -->*<!-- ENDIF --></label></dt>
			<dd>
				<input type="file" name="fileupload" id="fileupload" class="inputbox autowidth" /> 
			</dd>
		</dl>
		<dl>
			<dt><label for="filecomment">{L_FILE_COMMENT}{L_COLON}</label></dt>
			<dd><textarea name="filecomment" id="filecomment" rows="1" cols="40" class="inputbox autowidth">{FILE_COMMENT}</textarea></dd>
		</dl>
		</fieldset>
		</div>
	</div>
<!-- ENDIF -->

	<div class="panel bg2">
		<div class="inner">
		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input type="submit" name="submit" id="submit" value="{L_SUBMIT}" class="button1" />		
			{S_FORM_TOKEN}
		</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE overall_footer.html --> 