<!-- INCLUDE overall_header.html -->
<form method="post" id="appform"> 
	<div class="panel">
		<div class="inner">
			<h2>{L_APPLICATION_PAGETITLE}</h2>
			<p>{L_APPLICATION_WELCOME_MESSAGE}</p>
			<fieldset class="fields2">
				<dl>
					<dt><label for="name">{L_APPLICATION_REALNAME}{L_COLON}*</label></dt>
					<dd><input type="text" name="name" class="inputbox autowidth" /></dd>
				</dl>
				<dl>
					<dt><label for="postion">{L_APPLICATION_POSITION}{L_COLON}</label></dt>
					<dd><select name="postion" id="postion">{APPLICATION_POSITIONS}</select></dd>
				</dl>
				<dl>
					<dt><label for="WHY">{L_APPLICATION_WHY}{L_COLON}*</label></dt>
					<dd><textarea rows="5" cols="50" name="why" class="inputbox"></textarea></dd>
				</dl>
			</fieldset>
		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">
		<fieldset class="submit-buttons">
			<input type="submit" name="submit" id="submit" value="{L_SUBMIT}" class="button1" />		
			{S_FORM_TOKEN}
		</fieldset>
		</div>
	</div>
</form>

<!-- INCLUDE overall_footer.html --> 