{% INCLUDE 'overall_header.html' %}
<h2 class="titlespace">{{ lang('APPLICATION_PAGETITLE') }}</h2>

<form method="post" id="appform" {{ S_FORM_ENCTYPE }}>
	{% if APPFORM_INFO %}
	<div class="contactpanel">
		<div class="content">
			{{ APPFORM_INFO }}
		</div>
	</div>
		<br class="clear" />
	{% endif %}
	<div class="panel">
		<div class="inner">
			<fieldset class="fields2">
				{% if S_ERROR %}
				<p class="error">{{ S_ERROR }}</p>
				{% endif %}
				<dl>
					<dt><label for="name">{{ lang('APPLICATION_REALNAME') }}{{ lang('COLON') }}*</label></dt>
					<dd><input type="text" name="name" size="25" class="inputbox autowidth" value="{{ REALNAME }}" /></dd>
				</dl>
				<dl>
					<dt><label for="email">{{ lang('EMAIL') }}{{ lang('COLON') }}*</label></dt>
					<dd><input type="text" name="email" size="25" maxlength="100" class="inputbox autowidth" value="{{ APPLICATION_EMAIL }}" {% if not S_EMAIL_NEEDED %}disabled{% endif %} /></dd>
				</dl>
				{% if APPLICATION_POSITIONS %}
				<dl>
					<dt><label for="postion">{{ lang('APPLICATION_POSITION') }}{{ lang('COLON') }}</label></dt>
					<dd><select name="position" id="position">{{ APPLICATION_POSITIONS }}</select></dd>
				</dl>
				{% endif %}
				<dl>
					<dt><label for="why">{{ lang('APPLICATION_WHY') }}{{ lang('COLON') }}*</label></dt>
					<dd><textarea rows="5" cols="50" name="why" class="inputbox">{{ WHY }}</textarea></dd>
				</dl>
				{% for questions in loops.questions %}
				<dl>
					<dt><label for="(questions.QUESTION}">{{ questions.QUESTION }}{{ lang('COLON') }}*</label></dt>
					<dd><input type="text" name="{{ questions.FORM_NAME }}" class="inputbox" value="{{ questions.ANSWER }}" /></dd>
				</dl>
				{% endfor %}
				{% if CAPTCHA_TEMPLATE %}
					{% DEFINE CAPTCHA_TAB_INDEX = 5 %}
					{% INCLUDE ''~ CAPTCHA_TEMPLATE ~'' %}
				{% endif %}
			</fieldset>
		</div>
	</div>
{% if S_ATTACH_BOX %}
	<div class="panel bg3 panel-container" id="attach-panel">
		<div class="inner">

		<p>{{ lang('ADD_ATTACHMENT_EXPLAIN') }} {% if S_ATTACH_REQ %}{{ lang('ADD_ATTACHMENT_REQ') }}{% endif %}</p>

		<fieldset class="fields2" id="attach-panel-basic">
		<dl>
			<dt><label for="fileupload">{{ lang('FILENAME') }}{{ lang('COLON') }}{% if S_ATTACH_REQ %}*{% endif %}</label></dt>
			<dd>
				<input type="file" name="fileupload" id="fileupload" class="inputbox autowidth" />
			</dd>
		</dl>
		<dl>
			<dt><label for="filecomment">{{ lang('FILE_COMMENT') }}{{ lang('COLON') }}</label></dt>
			<dd><textarea name="filecomment" id="filecomment" rows="1" cols="40" class="inputbox autowidth">{{ FILE_COMMENT }}</textarea></dd>
		</dl>
		</fieldset>
		</div>
	</div>
{% endif %}

	<div class="panel bg2">
		<div class="inner">
		<fieldset class="submit-buttons">
			{{ S_HIDDEN_FIELDS }}
			<input type="submit" name="submit" id="submit" value="{{ lang('SUBMIT') }}" class="button1" />
			{{ S_FORM_TOKEN }}
		</fieldset>
		</div>
	</div>
</form>

{% INCLUDE 'overall_footer.html' %}